@inherits umbraco.MacroEngines.DynamicNodeContext
@{
	if ( String.IsNullOrEmpty(@Parameter.mediaFolder) ) {
		<div><p>A folder has not been selected</p></div>
	}
	var folder = Parameter.mediaFolder;
	var media  = Model.MediaById(folder);
}

@helper traverse(dynamic node) {
	var cc = node.Children;  
	if (cc.Count()>0) {
		<ul>
			@foreach (var c in cc) {
				<li>
					@structure(c)
					@traverse(c)
				</li>
			}
		</ul>
	}
}

@helper structure( dynamic node ){
	if ( node.NodeTypeAlias == "Folder" ) {
		<span class="folder" id="@node.Name.ToLower().Replace(" ", "_")">@node.Name</span>
	} else {
		<a href="@node.Url">@node.Name</a>
	}
		
}
<div class="formWrangler">
	@traverse(media)
</div>
